@use "global" as *;

.page-news-details__fv {
  margin-top: rem(59);
  @include mq(md) {
    display: none;
  }
}

.page-news-details__article {
  margin-top: rem(40);
  // margin-top: rem(48);
  // @include mq(md) {
  //   margin-top: rem(120);
  // }
}