@use "global" as *;

.page-news-details__fv {
  margin-top: rem(59);
  @include mq(md) {
    display: none;
  }
}

.page-news-details__article {
  margin-top: rem(40);
  // margin-top: rem(48);
  // @include mq(md) {
  //   margin-top: rem(120);
  // }
}

// おすすめ商品
.page-news-details__products {
  margin-top: rem(80);
  @include mq(md) {
    // max-width: rem(1011);
    // margin-right: auto;
    // margin-left: auto;
  }
}

// 最新ニュース
.page-news-details__new-post {
  margin-top: rem(80);
}
