@use "global" as *;

.page-news-details__fv {
  margin-top: rem(59);
  @include mq(md) {
    display: none;
  }
}

.page-news-details__article {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(59);
  }
}

// おすすめ商品
.page-news-details__recommend-products {
  margin-top: rem(80);
}

// 最新ニュース
.page-news-details__new-post {
  margin-top: rem(80);
}
