@use "global" as *;

.page-about__philosophy {
  position: relative;
  margin-top: rem(48);
  @include mq(md) {
    padding-top: rem(92);
    padding-bottom: rem(141);
  }
}

.page-about__philosophy::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(64 / 375 * 100vw); // ← 背景帯の幅
  height: 100%;                
  background-image: url(../images/common/top-philosophy-bg.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  @include mq(md) {
    width: calc(260 / 1440 * 100vw); // ← 背景帯の幅
  }  
}

.about-philosophy__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(60);
  @include mq(md) {
    grid-template-columns: 1fr 1fr;
    gap: rem(155);
  }
}

.about-philosophy__content-wrapper {

}



.about-philosophy__content {

}

.about-philosophy__main-copy {
  font-family: $base-font-family;
  font-size: rem(32);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.2;
  margin-top: rem(32);
  @include mq(md) {
    font-size: rem(40);
    margin-top: rem(80);
  }
}

.about-philosophy__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.2;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(42);
  }
}

.about-philosophy__image {
  width: 100%;
  max-width: calc(280/375*100%);
  aspect-ratio: 280 / 282;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(455);
    margin-left: 0;
    aspect-ratio: 455 / 458;
    margin-top: 0;
  }
}

.about-philosophy__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}