@use "global" as *;

// CTAセクション

.cta {
  position: relative;
  z-index: 10;
  @include mq(md) {
    margin-bottom: rem(-24);
  }
}

.cta__inner {
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0;
  }
}




