@use "global" as *;

// CTAアイテム

.cta-item {
  width: 100%;
  text-align: center;
  padding: rem(24) 0;
  @include mq(md) {
    text-align: left;
  }
}

.cta-item__title {
  text-align: center;
}

.cta-item__button {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(44);
  }
}

// 会社概要
.cta-item--company {
  border: 1px solid $color-main;
  @include mq(md) {
    padding-top: rem(80);
    padding-right: calc(147/720*100%);
    padding-bottom: rem(80);
    margin: rem(24) 0;
    text-align: right;
    border-right: none;
  }
}

// お問い合わせ
.cta-item--contact {
  background-color: $white;
  border: 1px solid $color-main;
  @include mq(md) {
    padding-top: rem(104);
    padding-bottom: rem(104);
    padding-left: calc(165/720*100%);
  }
}