@use "global" as *;

.footer {
  background-image: url(../images/common/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.footer__inner {
  padding-top: rem(43);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.footer__info {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.footer__info-text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  font-weight: $normal;
  line-height: 1;
}

.footer__info-text:not(:first-child) {
  margin-top: rem(8);
}

.footer__nav {
  margin-top: rem(28);
}

.footer__copyright {
  font-family: $second-font-family;
  font-size: rem(14);
  color: $white;
  font-weight: $normal;
  line-height: 1;
  text-align: center;
  margin-top: rem(40);
}

