@use "global" as *;

.page-news-details__new-post {

}

.new-post {

}

.new-post__inner {

}

.inner {

}

.section-title {

}

.new-post__title {

}

.section-title__en {

}

.section-title__ja {

}

.new-post__slider {

}

.swiper {

}

.swiper-wrapper {

}

.swiper-slide {

}

.new-post__pagination {

}

.swiper-pagination {

}

.new-post__prev {

}

.swiper-button-prev {

}

.new-post__next {

}

.swiper-button-next {

}

