@use "global" as *;

.page-news-details__new-post {

}

.new-post {

}

.new-post__inner {
  position: relative; // ナビゲーション矢印の配置
}

.inner {

}

.section-title {

}

.new-post__title {

}


// 最新ニューススライダー
.new-post__slider {
  margin-top: rem(40);
}

.swiper {

}

.swiper-wrapper {

}

.swiper-slide {

}

.new-post__pagination {

}

.swiper-pagination {

}

.new-post__prev {

}

.swiper-button-prev {

}

.new-post__next {

}

.swiper-button-next {

}

