@use "global" as *;

// 商品カード群
.product-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(15);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}
