@use "global" as *;

// Productカード

.product-card {
  width: 100%;
  height: 100%;            // grid/flex内で高さ自動揃え
  display: flex;
  flex-direction: column;  // 画像→本文の縦配置
}

.product-card__image {
  width: 100%;
  aspect-ratio: 165 / 110;
  @include mq(md) {
    aspect-ratio: 270 / 180;
  }
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.product-card__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  background-color: #fafafa;
  padding: rem(12) rem(7) rem(16) rem(8);
  @include mq(md) {
    padding: rem(24) rem(15) rem(42) rem(15);
  }
}

.product-card__title {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  position: relative;
  padding-left: rem(8);
}

.product-card__title::before {
  content: "";
  display: block;
  width: rem(6);
  height: rem(6);
  background-color: $color-main;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.product-card__subtitle {
  font-family: $second-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
}

.product-card__text {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(8);
  @include mq(md) {
    margin-top: rem(16);
  }
}

