@use "global" as *;

.page-products__products-list {

}

.products-list {

}

.products-list__inner {

}

.inner {

}

.products-list__items {

}

.product-cards {

}

.products-list__item {

}

.product-card {

}

.products-list__title-wrapper {

}

.section-title {

}

.products-list__title {

}

.section-title__en {

}

.section-title__ja {

}

.products-list__description {

}

