@use "global" as *;



.products-list {

}

.products-list__inner {

}

.products-list__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(80);
  }
}

// 商品リスト
.products-list__items {
  margin-top: rem(48);
  @include mq(md) {
    margin-top: 0;
  }
}


.products-list__item {

}

.product-card {

}

.products-list__title-wrapper {

}

.section-title {

}

.products-list__title {

}

.section-title__en {

}

.section-title__ja {

}

.products-list__description {

}

