@use "global" as *;

// 商品リスト

// 商品リストの一つ目のliアイテム（タイトル群）
.products-list__item--title {
  // スマホ版：1行目の1列目と2列目を埋める
  grid-column: 1 / 3; 
  margin-bottom: rem(48 - 15);//gridのgap分を引いている
  @include mq(md) {
    // PC版：1行目の1列目のみ
    grid-column: 1 / 2;
    align-self: start;
    margin-bottom: 0;
  }
}

// 商品リストのタイトル群（PCでpaddingあり）
.products-list__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include mq(md) {
    padding: rem(42) rem(24) rem(100) rem(24);
  }
}

// 商品リストのタイトル群の説明文
.products-list__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(80);
  }
}
