@use "global" as *;

// トップページの商品スライド

.product-slide {
  height: rem(318);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include mq(md) {
    height: rem(306);
  }
}

.product-slide__image {
  width: 100%;
  aspect-ratio: 264 / 176;
  box-shadow: rem(4) rem(4) rem(8) rem(0) rgba(0, 0, 0, 0.25);
  @include mq(md) {
    aspect-ratio: 375 / 250;
  }
}

.product-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-slide__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(12) rem(8) rem(16) rem(8);
  @include mq(md) {
    padding: rem(24) rem(15) rem(42) rem(15);
  }
}

.product-slide__title {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  position: relative;
  padding-left: rem(8);
}

.product-slide__title::before {
  content: "";
  display: block;
  width: rem(6);
  height: rem(6);
  background-color: $color-main;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.product-slide__subtitle {
  font-family: $second-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
}

// ======================================================
//   ▼ スライドボタン（スライダーの外に出した版）
// ======================================================

.top-products__slider-buttons {
  display: flex;
  justify-content: center;
  gap: rem(32);
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
    gap: rem(52);
  }
}

.top-products__slider-buttons .swiper-button-prev,
.top-products__slider-buttons .swiper-button-next {
  position: static !important;
  width: rem(46) !important;
  height: rem(46) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer;
}

/* デフォルト矢印を確実に消す */
.swiper-button-prev::after,
.swiper-button-prev::before,
.swiper-button-next::after,
.swiper-button-next::before {
  display: none !important;
}

/* ▼ 画像指定 */
.swiper-button-prev {
  background-image: url("../images/common/slide-button-left.png") !important;
}

.swiper-button-next {
  background-image: url("../images/common/slide-button-right.png") !important;
}
