@use "global" as *;

.page-news-details__products {

}

.recommend-products {

}

.recommend-products__inner {

}

.inner {

}

.section-title {

}

.recommend-products__title {

}

.section-title__en {

}

.section-title__ja {

}

.recommend-products__slider {

}

.swiper {

}

.swiper-wrapper {

}

.swiper-slide {

}

.recommend-products__pagination {

}

.swiper-pagination {

}

.recommend-products__prev {

}

.swiper-button-prev {

}

.recommend-products__next {

}

.swiper-button-next {

}

