// @use "global" as *;

// // おすすめ商品

// .recommend-products {

// }

// .recommend-products__inner {
//   overflow: visible; // 見切れスライド表示のため
// }


// .recommend-products__title {

// }



// // おすすめ商品スライダー
// .recommend-products__slider {
//   margin-top: rem(40);
//   margin-right: calc(50% - 50vw);
//   margin-left: calc(50% - 50vw);
//   overflow: visible; // 見切れスライド表示
//   @include mq(md) {
//     max-width: rem(931);
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

// .recommend-products__slider .swiper {
//   overflow: visible;
// }

// .recommend-products__slider .swiper-wrapper {
//   margin-top: rem(0);
//     // 中央配置を確実にする
//     display: flex;
//     align-items: center;
// }

// // おすすめ商品スライド本体
// .recommend-products__slider .swiper-slide {
//   width: rem(264);
//   // height: rem(232);
//   flex-shrink: 0;
//   @include mq(md) {
//     width: rem(375);
//     // height: rem(306);
//   }
// }


// // ナビゲーション矢印
// .recommend-products__buttons {
//   width: rem(156);
//   min-height: rem(46);
//   position: relative; // ナビゲーション矢印の配置
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: rem(64);
//   margin: rem(40) auto 0;
//   @include mq(md) {
//     width: rem(132);
//     gap: rem(40);
//   }
// }

// .recommend-products__prev,
// .recommend-products__next {
//   width: rem(46);
//   height: rem(46);
// }

// .recommend-products__prev img,
// .recommend-products__next img {
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
// }
