@use "global" as *;


.sns-item {
  width: rem(24);
  height: rem(24);
  aspect-ratio: 24 / 24;
}

.sns-item__link {
  display: block;
  width: 100%;
  height: 100%;
}
.sns-item__link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
