@use "global" as *;

.sub-fv {

}

.sub-fv__inner {

}

.sub-fv__page-title {
  font-family: $second-font-family;
  font-size: rem(40);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  text-align: center;
  @include mq(md) {
    font-size: rem(64);
  }
}

.sub-fv__content {
  margin-top: rem(40);
}

.sub-fv__image-wrapper {
  margin-top: rem(40);
  @include mq(md) {
    position: relative;
  }
}

.sub-fv__sns {
  @include mq(md) {
    background: red;
    display: flex;
    position: absolute;
    right: 100%;
    margin-right: rem(78);
    bottom: 0;
    align-items: flex-end;
    z-index: 10; // ✅ 画像に隠れないように
  }
}

// sns-blockを下層FV用に上書き
.sub-fv__sns.sns-block {
  padding-bottom: 0;
  @include mq(md) {
    display: block; // display: flex を解除
  }
}


.sub-fv__image {
  width: 100%;
  aspect-ratio: 345/259;
  @include mq(md) {
    aspect-ratio: 1080/480;
  }
}

.sub-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
