@use "global" as *;

// お問い合わせ完了メッセージ

.thanks-message__title {
  font-family: $base-font-family;
  font-size: rem(18);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  text-align: center;
  @include mq(md) {
    font-size: rem(24);
  }
}

.thanks-message__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  text-align: center;
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(45);
  }
}

.thanks-message__button {
  margin-top: rem(64);
  text-align: center;
  @include mq(md) {
    margin-top: rem(40);
  }
}

