@use "global" as *;

// インテリアコーディネート（TOPページ）

.top-works {

}

.top-works__content {

}

.top-works__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(22);
  }
}

.top-works__button {
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(43);
  }
}

// ギャラリー
.top-works__gallery {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(64);
  }
}

// リスト
.top-works__gallery-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(16);

    // ※ これが必要！！
    grid-auto-rows: 1fr;
  }
}

// 各アイテム
.top-works__gallery-item {
  overflow: hidden;
}

// 画像
.top-works__gallery-item img {
  width: 100%;
  height: 100%;   // ★必ず必要
  object-fit: cover;
}

// ====== 配置パターン ======
@include mq(md) {
  // 1,5,9,...
  .top-works__gallery-item:nth-child(4n + 1) {
    grid-column: 1 / span 2;
  }

  // 2,6,10,...
  .top-works__gallery-item:nth-child(4n + 2) {
    grid-column: 3 / span 1;
  }

  // 3,7,11,...
  .top-works__gallery-item:nth-child(4n + 3) {
    grid-column: 1 / span 1;
  }

  // 4,8,12,...
  .top-works__gallery-item:nth-child(4n + 4) {
    grid-column: 2 / span 2;
  }
}
