@use "global" as *;

// 理念（TOPページ）

.top-philosophy {

}

.top-philosophy__content {
  margin-top: rem(42);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.top-philosophy__main-copy {
  font-family: $base-font-family;
  font-size: rem(32);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(40);
  }
}

.top-philosophy__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.2;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(42);
  }
}

.top-philosophy__button {
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(28);
  }
}

.top-philosophy__image {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
  }
}

