@use "global" as *;

// FV
.top-fv {

}

.top-fv__inner {

}

.inner {

}

.top-fv__content {
  margin-top: rem(59);

}

.top-fv__copy {
  font-family: $second-font-family;
  font-size: rem(40);
  color: $color-font;
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    font-size: rem(64);
  }
}

// 画像とSNSアイコン
.top-fv__image-wrapper {
  margin-top: rem(40);
  margin-right: rem(-15);
  @include mq(md) {
    display: grid;
    grid-template-columns: rem(180) 1fr;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    margin-top: rem(40);
  }
}

// SNSアイコン
.top-fv__sns {
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: rem(112);
  }
}

.sns-items__items {

}

.sns-items {

}

.sns-items__item {

}

.sns-item {

}

.sns-item__link {

}

// 画像
.top-fv__image {
  width: 100%;
  aspect-ratio: 360 / 270;
  @include mq(md) {
    aspect-ratio: 1260 / 480;
  }
}

.top-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



// 最新ニュースカード（TOPページ）
.top-fv__news {
  margin-left: rem(-15);
  @include mq(md) {
    // margin: 0 calc(50% - 50vw);
    // width: 100vw;
    width: calc(900 / 1440 * 100vw);  // ← 62.5vwになる
    margin-right: auto;
    margin-left: calc(50% - 50vw);   // ← 画面左端に合わせる万能式
  }
}