@use "global" as *;

// 商品（TOPページ）

.top-products {
  margin-top: rem(81);
  @include mq(md) {
    margin-top: rem(100);

  }
}

.top-products__inner {
  position: relative;
  padding-bottom: rem(199);
}

.top-products__content {
  background-image: url(../images/common/top-products-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(47) rem(15) rem(49) rem(15);
  margin-left: rem(-15);
  @include mq(md) {
    // ★ innerの制約を無視して左端にくっつける 
    width: 100vw;
    margin-left: calc(50% - 50vw);
    // ★ 背景の「見え幅」を 1088px に合わせる 
    max-width: calc(1088 / 1440 * 100vw); // ← 75.55vw
    margin-right: auto;
    padding: rem(40) rem(42) rem(140) rem(180);
  }
}

.top-products__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(18);
  }
}

.top-products__button {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(36);
  }
}


/* ====================================
   Swiper 本体
==================================== */

.top-products__slider {
  width: 100%;
  overflow: hidden; // ← 必須
  margin-top: rem(39);
  @include mq(md) {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}




