@use "global" as *;

// 理念（TOPページ）

.top-philosophy {
  position: relative;
  overflow: hidden;   // はみ出し対策
  padding-top: rem(48);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: 0;
  }
}

// 背景帯
.top-philosophy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(64 / 375 * 100vw); // ← 背景帯の幅
  height: 100%;                
  background-image: url(../images/common/top-philosophy-bg.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  @include mq(md) {
    width: calc(260 / 1440 * 100vw); // ← 背景帯の幅
  }       
}

.top-philosophy__inner {
@include mq(md) {
  display: grid;
  grid-template-columns: 1fr rem(564);
  gap: rem(46);
  justify-content: space-between;
  align-items: end;

}
}

.top-philosophy__content {
  margin-top: rem(42);
  @include mq(md) {
    margin-top: rem(80);
    padding-bottom: rem(25);
  }
}

.top-philosophy__main-copy {
  font-family: $base-font-family;
  font-size: rem(32);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(40);
  }
}

.top-philosophy__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(42);
  }
}

.top-philosophy__button {
  margin-top: rem(38);
  text-align: right;
  @include mq(md) {
    margin-top: rem(28);
  }
}

// 分割画像の親（全部で5枚）
.top-philosophy__image {
  display: flex;
  width: rem(345);
  aspect-ratio: 345 / 190;
  gap: rem(12);
  padding: rem(12) 0;
  margin-top: rem(40);
  @include mq(md) {
    width: rem(564);
    aspect-ratio: 564 / 310;
    margin-top: 0;
  }
}

// 共通スライス
.top-philosophy__slice {
  width: rem(69);
  height: 100%;
  background-image: url("../images/common/top-philosophy.jpg");
  background-size: rem(345) rem(190);
  background-repeat: no-repeat;
  @include mq(md) {
    width: rem(112);
    height: 100%;
    background-size: rem(564) rem(310);
  }
}

.top-philosophy__slice:nth-child(1) {
  transform: translateY(rem(12));   // 下にズラす
}

.top-philosophy__slice:nth-child(5) {
  transform: translateY(rem(-12));  // 上にズラす
}
