@use "global" as *;

// 商品（TOPページ）

.top-products {
  margin-top: rem(81);
  margin-left: rem(-15);
  @include mq(md) {
    margin-top: rem(100);
  }
}

.top-products__inner {

}

.top-products__content {
  background-image: url(../images/common/top-products-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(47) rem(15) rem(49) rem(15);
  @include mq(md) {
    padding: rem(40) rem(42) rem(140) rem(180);
  }
}

.top-products__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(18);
  }
}

.top-products__button {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(36);
  }
}


// 商品スライダー


.top-products__slider {

}

.swiper-container {
  width: 100%;
  height: rem(318);
  @include mq(md) {
    height: rem(306);
  }
}

.swiper-wrapper {
width: 100%;
height: 100%;
}

.swiper-slide {
width: 100%;
height: 100%;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide__image {

}

.swiper-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






// .top-products__slider-item {
//   width: 100%;
//   aspect-ratio: 264 / 176;
//   @include mq(md) {
//     aspect-ratio: 375 / 250;
//   }
// }

// .top-products__slider-item img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

