@use "global" as *;

// インテリアコーディネート（TOPページ）

.top-works {
  position: relative;
  overflow: hidden;
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(85);
  }
}

// 背景帯
.top-works::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(64 / 375 * 100vw); // ← 背景帯の幅
  height: rem(521);                
  background-image: url(../images/common/top-philosophy-bg.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  @include mq(md) {
    width: calc(260 / 1440 * 100vw); // ← 背景帯の幅
    height: calc(1382 / 1462 * 100%);
  }       
}

.top-works__content {
  @include mq(md) {
    width: calc(868 / 1080 * 100%);
  }
}

.top-works__description {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(22);
  }
}

.top-works__button {
  margin-top: rem(56);
  @include mq(md) {
    margin-top: rem(43);
  }
}

// ギャラリー
.top-works__gallery {
  margin-top: rem(40);
}

// リスト
.top-works__gallery-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(15);
    grid-auto-rows: 1fr;
  }
}

// 各アイテム
.top-works__gallery-item {
  overflow: hidden;
}

// 画像
.top-works__gallery-item img {
  width: 100%;
  height: 100%;   
  object-fit: cover;
}

// ====== 配置パターン ======
@include mq(md) {
  // 1,5,9,...
  .top-works__gallery-item:nth-child(4n + 1) {
    grid-column: 1 / span 2;
  }

  // 2,6,10,...
  .top-works__gallery-item:nth-child(4n + 2) {
    grid-column: 3 / span 1;
  }

  // 3,7,11,...
  .top-works__gallery-item:nth-child(4n + 3) {
    grid-column: 1 / span 1;
  }

  // 4,8,12,...
  .top-works__gallery-item:nth-child(4n + 4) {
    grid-column: 2 / span 2;
  }
}
