@use "global" as *;

.works-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  // grid-auto-rows: minmax(rem(96), auto);
  gap: rem(5);
  @include mq(md) {
    // grid-template-columns: repeat(4, 1fr);
    // gap: 0;
  }
}